 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                <img class="img-responsive2" src="img/profile_picture2.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    
                    <p>I'm a full stack junior web developer from South East London. When I spent 18 months working as an english teacher in madrid I had an idea for a website, but I didn't have the skills. So after I returned decided to apply for a place on General Assembly Web Development Intensive. </p>
                        
                    <p>It was alot of hard work but I loved learning new skills and </p>
                </div>
                <div class="col-lg-4">
                    <p>Apart from coding, I'm a keen sportsman, I love playing cricket, rugby and ice hockey. 
                    </p>
                </div>
            </div>
        </div>
    </section>