<!-- Blog Show Section -->
   <section class="success" id="blog">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>BLOG</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
           {% for post in paginator.posts %}
             {{ post.title }}
             <div class="content">
               {{ post.content }}
             </div>
           {% endfor %}
              </ul> 
          </div>
              
        </div>
       
   </section>