<!-- Blog Section -->
   <section class="success" id="blog">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>BLOG</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row" >
             <div class="content">
                   {{ post.content }}
               </div> 
                  <ul>
                  {% for post in site.posts %}
                    <li>
                      <a href="{{ post.url.content }}">{{ post.title }}</a>
                          {{post.content}} 
                    </li>
                  {% endfor %} 
                  </ul>
          </div>  
   </section>