
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>

            </div>
            <div class="row">
            <div class="projects">
                    <h1 class="my_project">My projects</h1>
                <ul class="links_to_projects">
                    <li><a href="http://fierce-coast-1841.herokuapp.com">TodoSports</a></li>
                    <li><a href="desolate-scrubland-1261.herokuapp.com">DudeWheresmyCoffee</a></li>
                    <li><a href="#">DJstudio</a></li>
                <ul>
            </div>
             <!--    {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %} -->
            </div>
        </div>
    </section>